<!--The content below is only a placeholder and can be replaced.-->
<div id="container" class="container">
<app-navigation></app-navigation>
<router-outlet></router-outlet>
    <div class="container">
        <br>
        <br>
        <hr>
        <div class="text-center">
            <a style="color: inherit" href="https://github.com/zhulinn"><i class="fab fa-github fa-3x"></i></a>
        </div>


        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2019 Copyright:
            <a href="https://zlin.me"> zlin.me </a>
        </div>
        <!--/.Copyright-->
    </div>
</div>
